<!DOCTYPE html>
<html lang="en">
   
<head>
  <meta charset="UTF-8">
  <title>World Happiness Report</title> 
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
    <div class="container">
        <div class="outer">
            <img src="Happiness1.jpg">
         </div>
      <header class="header"> 
      </header>
        <h1>World Happiness</h1> 
    </div>
    
     </div>
    
     <div class="navbar">  
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/comparison">Comparison</a>
        <a href="/analysis">Analysis</a>
        <a href="/top-25">Top-25</a>
    </div>

      <div class="gadget">
        <form method="get" id="search" action="#">
           <span>
              <input type="text" value="Enter Country Here.." name="s" id="s" />
              <input name="searchsubmit"  value="Search" id="searchsubmit" class="btn"  />
           </span>
        </form>
      </div>
  <br>
    <div class="custom-select" > 
      <select>
        <option value="0">Select Year:</option>
        <option value="1">2015</option>
        <option value="2">2016</option>
        <option value="3">2017</option>
      </select>
    </div>
    <div class="row1">
      <div class="col-md-6">
        <div class="box">
        </div>    
      </div>
      <div class="col-md-6">
        <div class="box">
        </div>
      </div>   
    </div>
    <br>
    <div class="row2">
        <div class="col-md-12">
          <div class="box">
          </div>    
        </div>
    </div>   

</body>
</html>