<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Happiness</title>
</head>

<body>



	<!--              NAVIGATION BAR                                   -->
	
	<!-----Nav Left Side                                               -->
	
	<nav class= "navbar-default">
	  <div class="navbar header">
		<div class="container-fluid">  
		  <a class="navbar-left lat_box" href="index.html"><strong>LATITUDE</strong></a>
			  
	<!--                                                 Nav Right Side-->
	
		  <ul class= "nav navbar-nav navbar-right">
					<li class = "dropdown">
					   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plots
					   <span class ="caret"></span></a> 	
						 <ul class ="dropdown-menu">
							 <li><a href=#>Title 1</a></li>
							 <li><a href=#>Title 2</a></li>
							 <li><a href=#>Title 3</a></li>
							 <li><a href=#>Title 4</a></li>
						 </ul>
					 </li>
					 <li> <a href=#>Title 5</a></li>
					 <li> <a href=#>Title 6</a></li>
			  </ul>
		   </div>
	  </div>
	</nav>
	
	<!--                      END NAV BAR                              -->

<p>Test</p>
</body>                         

